section {
	.mainTitle {
		text-align: center;
		color: #ffffff;
		letter-spacing: 1.5px;
		font-weight: 500;
		font-size: 22px;
		line-height: 21px;
		margin: 2rem 0 3rem 0;
	}
	.rates__body {
		display: flex;
		max-width: 850px;
		margin: 0 auto;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: column;
		align-items: center;

		svg {
		}
		.equals {
			width: 25px;
			height: 25px;
			margin: 17px 0;
		}

		&__list {
			list-style: none;
			font-weight: 400;
			font-size: 15px;
			line-height: 18px;
			color: #ffffff;
			gap: 27px;
			display: flex;
			flex-direction: column;
			max-height: 250px;
			overflow-y: scroll;
			width: 150px;

			&::-webkit-scrollbar {
				width: 10px;
			}
			&::-webkit-scrollbar-track {
				background: #4f4f4f;
				border-radius: 10px;
			}
			&::-webkit-scrollbar-thumb {
				background: rgba(255, 255, 255, 0.5);
				border-radius: 10px;
				box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
			}

			.list__item {
				width: 100%;
				padding: 0 1rem 0 0;
				display: flex;
				align-items: center;
				.item__name {
					margin: 0 21px 0 15px;
				}
				.item__value {
				}
				img {
					height: 80px;
					width: 80px;
				}
			}
		}
	}
	@media (min-width: 600px) {
		.mainTitle {
			font-weight: 500;
			font-size: 35px;
			line-height: 43px;
			margin-bottom: 66px;
		}
		.rates__body {
			.equals {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 56px;
				height: 56px;
				padding: 0;
			}
			svg {
				height: 73px;
			}
			&__list {
				padding: 15px 0 0 0;
				list-style: none;
				font-weight: 400;
				font-size: 30px;
				line-height: 37px;
				color: #ffffff;
				gap: 53px;
				display: flex;
				flex-direction: column;
				max-height: 400px;
				overflow-y: scroll;
				width: 300px;
			}
		}
	}

	@media (min-width: 1024px) {
		.mainTitle {
			margin: 110px 0 85px 0;
		}
		.rates__body {
			justify-content: space-between;
			align-items: flex-start;
			flex-direction: row;
		}
	}
}
